header {
    display: flex;
    align-items: center;
    
    background-color: #314059;
    width: 100%;
    height: 50px;
    
}

.button {
    text-decoration: none;
    color: white;
    padding: 10px;
}