.wrap {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  
  align-items: center;
  border: 1px solid red;
}
.contentWrap {
  display: flex;
  width: 100%;
}

.navbar {
  background-color: aquamarine;
}
