header {
    /* display: flex;
    align-items: center; */
    grid-area: head;
    background-color: white;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.button {
    text-decoration: none;
    color: black;
    padding: 10px;
}