.profileHeaderWrap {
    width: 100%;
}
.backgroundImage {
    width: 100%;
    height: 300px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.profileInfoWrap {
    display: grid;
    grid-template-areas: 'profileImg profileInfo';
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    position: relative;
    top: -15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
    height: 100px;
    
}
.profileImageWrap {
    display: grid;
    justify-items: center;
    align-items: center;
}
.profileImage {
    position: relative;
    top: -70px;
    border: 5px solid white;
    width: 150px;
    height: 150px;
    border-radius: 100%;
}
.profileInfo {
    height: 100px;
    
}