.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    width: 200px;
    height: 150px;
}
.likes {
    font-size: smaller ;
}

.postText {
    font-size: medium;
}