.wrap {
  background-color: #EDEEF0;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-areas:
    "head head"
    "main main"
  ;
  grid-template-columns: 150px 1fr;
  justify-items: center;

}

.contentWrap {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas:
    "nav cont cont"
    "nav cont cont"
    ". cont cont";
  gap: 0px 10px; 
  grid-area: main;
  width: 75%;
  
}

.navbar {
  grid-area: nav;
  width: 15%;
}

.content {
  grid-area: cont;
}